{% extends 'layout.html' %}
{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Add Event</h1>
  <form method="POST" action="" class="needs-validation" novalidate>
    <div class="mb-3">
      {{ render_field(form.eventname, class_="form-control", placeholder="Event Name") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.body, class_="form-control", id="editor", placeholder="Event Description") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.fee, class_="form-control", id="fee", placeholder="Fee") }}
    </div>
    <div class="row">
      <div class="col-md-6 mb-3">
   
        {{ render_field(form.time_from, class_="form-control", id="timeFromPicker", type="time") }}
      </div>
      <div class="col-md-6 mb-3">
        
        {{ render_field(form.time_to, class_="form-control", id="timeToPicker", type="time") }}
      </div>
    </div>
    <div class="mb-3">
      {{ render_field(form.event_date, class_="form-control", id="eventDate", placeholder="Event Date") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.Number_of_days, class_="form-control", id="numberOfDays", placeholder="Number of Days") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.event_organiser, class_="form-control", id="eventOrganiser", placeholder="Event Organiser") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.event_type, class_="form-control", id="eventType", placeholder="Event Type") }}
    </div>
    <div class="mb-3">
      {{ render_field(form.ygroup, class_="form-control", id="yGroup", placeholder="Year Group") }}
    </div>
    
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
{% endblock %}
