{% extends 'layout.html' %}

{% block body %}

  <style>


  </style>

  <h1>Dashboard <small> Welcome {{session.email}}</small></h1>
  
  {% if session.logged_in %}
    {% if session['email'] == 'dankamran1@gmail.com' %}
      <a class="btn btn-success" href="/add_event"> Add event</a> 
    {% endif %}
  {% endif %}
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Event name</th>
      <th>Creator</th>
      <th>Date_Created</th>
      <th>Deadline</th>
      <th>Fee</th>
   
      
    </tr>
    {% for event in events %}
      <tr>
        <td>{{event.EVENT_ID}}</td>
        <td>{{event.eventname}}</td>
        <td>{{event.creator}}</td>
        <td>{{event.date_created}}</td>
        <td>{{event.deadline}} days</td>
        <td>£{{event.fee}}</td>
        {% if session.logged_in %}
          {% if session['email'] == 'dankamran1@gmail.com' %}
            <td><a href="edit_event/{{event.EVENT_ID}}" class="btn btn-success float-start">Edit</a></td>
            <td><a href="check/{{event.EVENT_ID}}" class="btn btn-primary float-end">Check</a></td>  
          {% else%}
            <td><a href="event/{{event.EVENT_ID}}" class="btn btn-success pull-right">Apply</a></td>
          {% endif %}
        {% endif %}

        <td>
          {% if session['email'] == 'dankamran1@gmail.com' %}
            <form action="{{url_for('delete_event', EVENT_ID=event.EVENT_ID)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger float-right">
          </form>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}