{% extends 'layout.html' %}

{% block body %}


<style>

.transparent-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ff8080;
    color: inherit; 
    box-shadow: none;
    outline: none;
    border-radius: 0; 
}



  .transparent-input:focus {
    border-color: none; 
    outline: 0;
    box-shadow: none; 
    
  }
</style>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow-lg border-0">
        <div class="card-body p-5">
          {% from "includes/_formhelpers.html" import render_field %}
          <h3 class="card-title text-center mb-4">Edit event</h3>
          <form method="POST" action="">

            <div class="row g-3">
              <div class="col-md-6 form-group">
               {{ render_field(form.eventname, class_="transparent-input form-control", placeholder="Event Name") }}
              </div>
              <div class="col-md-6 form-group">
                {{ render_field(form.event_date, class_="transparent-input form-control", id="eventDate", placeholder="Event Date" , type="date") }}
             </div>
              <div class="col-md-12 form-group">
                     {{ render_field(form.body, class_="transparent-input form-control", id="editor", placeholder="Event Description") }}
              </div>
              <div class="col-md-6 form-group">
                {{ render_field(form.fee, class_="transparent-input form-control", id="fee", placeholder="Fee", type="currency") }}
             </div>
             
             <div class="col-md-6 form-group">
              {{ render_field(form.Number_of_days, class_="transparent-input form-control", id="Number_of_days", type="number") }}
            </div>
            </div>

       
            <div class="row g-3 mt-3">


              <div class="col-md-6 form-group">
                {{ render_field(form.event_organiser, class_="transparent-input form-control", id="eventOrganiser", placeholder="Event Organiser") }}
              </div>
              <div class="col-md-6 form-group">
                 {{ render_field(form.event_type, class_="transparent-input form-control", id="eventType", placeholder="Event Type") }}
              </div>
              <div class="col-md-12 form-group">
                 {{ render_field(form.ygroup, class_="transparent-input transparent-input form-control", id="yGroup", placeholder="Year Group") }}
              </div>
 
            </div>

           
            

    
            <div class="text-center mt-4">
              <input type="submit" class="btn btn-danger btn" value="Confirm edit">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
