{% extends 'layout.html' %}

{% block body %}

<style>



.background-image-overlay {
    background-color: #f8f9fd;
    background-image: url('https://scontent.flhr1-2.fna.fbcdn.net/v/t39.30808-6/358702600_991579388847536_376160878963484989_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ZT6CTXOL8M0Q7kNvgHYoVwP&_nc_ht=scontent.flhr1-2.fna&oh=00_AYCOKltf2IdNwLPeCBwGKLWBPBG2XKJhbgEEiHYoA6mdDw&oe=6677BC27');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    position: relative; /* Needed for the overlay */
}
  .background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;

    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }



  .navbar ul li a {
  color: rgb(233, 233, 233);

  }

.navbar ul li a {
  border: "1px solid white";
}



  .container, .navbar {
    position: relative;
    z-index: 2; 
  }

  .custom-img {
    height: 150px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
  }

 
  .transparent-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ff8080; 
    color: inherit; 
    box-shadow: none;
    outline: none;
    border-radius: 0; 
}


 
  .transparent-input:focus {
    border-color: none; 
    outline: 0;
    box-shadow: none; 
    
  }
</style>

<div class=" justify-content-center align-items-center border border-0 container mt-4 ">
  <div class=" row d-flex justify-content-center align-items-center">
    
    <div class=" col-lg-5 col-md-8 col-sm-10 shadow p-3 bg-body-tertiary rounded">
      <div class="border border-0 card wrap">
        <img class="card-img-top custom-img " src='https://i2-prod.mylondon.news/incoming/article19304406.ece/ALTERNATES/s615/2_SpaceStudio-18-06-20-UK008JPG.jpg'>
        
    

        <div class="card-body custom-card-body"> <!-- Apply the custom class here -->
       

          <div class="p-4">
            <div class="row align-items-start ">
              <h1 class=" text-center p-md-4 ">Sign In</h1>
            </div>
            
            <form class="" action="" method="POST">
              <div class="form-group mb-4 ">
                <input type="text" name="email" class=" form-control transparent-input" placeholder="Username" value="{{ request.form.email }}" required>
              </div>
              <div class="form-group mb-3 ">
                <input type="password" name="password" class="form-control transparent-input" placeholder="Password" value="{{ request.form.password }}" required>
              </div>
              <div class="d-flex justify-content-between mb-5">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="rememberMe">
                  <label class="form-check-label" for="rememberMe">Remember Me</label>
                </div>
                <a href="/forgot" class=" text-decoration-none">Forgot Password?</a>
              </div>
              <button type="submit" class="form-control btn btn-danger rounded submit px-3">Sign In</button>
            </form>
            <div class="text-center mt-3">
              Not a member? <a href="/register" class="text-decoration-none">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}